// -------------------------------------------Primary Colors Starts--------------------------------------------------//
$body-bg:rgba(244, 237, 218, 0.2);
$orange:#FF671D;
$power-purple-color:#60269E;
$candid-cream:#F4EDDB;
$gentle-grey:#EBEBEB;
$z-black: #333333;
$bright-orange:#ff671d;
$alert-error:#be0000;
$orenge-dim: rgba(255, 103, 29, 0.1);
$card-box-shadow:1px 1px 4px 0 rgba(0, 0, 0, 0.08);
$orange-varient-color:#FF671D;
$bg-input:rgba(235, 235, 235, 0.5);
$feed-shadow: 0 15px 30px 0 rgba(42, 17, 69, 0.15);
$aminities-border:rgba(151, 151, 151, 0.41);
$aminities-icon-color: #666666;
$light-grey: #dfcda3;
$lavender-grey: #B4B3DF;
$orange-light: #fbebef;
$red:#be0000;
$light-red:rgba(255, 104, 104, 0.1);
$green: #098721;
$light-green: rgba(7, 208, 46, 0.1);
$footer-bg: rgba(244, 237, 219, 0.4);
$form-border: #cccccc;
$dark-grey:#cccccc;
$orange-opacity-one: rgba(179, 64, 255, 0.1);
$notification-bg:rgba(96, 38, 158, 0.08);
$black-varient:#3f3f3e;
$purple:#60269e;
// ends

// badge starts
$badge:$orange;
// ends

// buttons
$in-active:$dark-grey;
$btn-primary-fill-hover:#f2793f;
// ends

// landing page
$orange-with-opacity:rgba(255, 103, 29,0.2);

// ------------------------------------------Secondary Colors Starts------------------------------------------------//
$white: #ffffff;
$black: #000000;
// ends

//-------------------------------------------left menubar starts---------------------------------------------------//
$left-menu-header-bg:#FFEFE8;
$left-menu-header-text: $orange;
$left-menu-item-color:$z-black;
// ends

// ------------------------------------------Create Post---------------------------------------------------------//
$create-post-tab: #9D9D9D;
$create-post-tab-active:$orange;
// ends

//Icons Colors Starts
$icon-color: $z-black;
// ends

// Hashtags start ends
$hashtags:#6040b6;
